# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.swp